@import 'minireset.css'

breakpoint = 600px
size-1 = .5em
size-2 = 1em
size-3 = 1.5em
size-4 = 2em
timing-1 = .25s
timing-2 = .5s
transparency = .4
translucent = alpha(black transparency)
text = #4a4a4a
link = black
bg-color = white
h2-color = black
name-color = black
bg-url = url('https://cdn.jsdelivr.net/gh/kidonng/xuann.wang/assets/bg.webp')
main-font = 'B612 Mono', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, monospace
name-font = Gaegu, 'Comic Sans MS', cursive

body
  color text
  font-family main-font
  line-height 1.5
  height 100vh
  background-image linear-gradient(invert(translucent), invert(translucent)), bg-url
  background-size cover

  @media screen and (max-width 1920px)
    background-position-x 40%

  @media (prefers-color-scheme dark)
    background-image linear-gradient(translucent, translucent), bg-url

a
  color link

  @media (prefers-color-scheme dark)
    color invert(link)

button
  background none
  border 0
  padding 0

.hidden
  opacity 0
  visibility hidden

.about
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color bg-color
  transition opacity timing-2, visibility timing-2
  padding size-3
  overflow auto

  @media screen and (min-width breakpoint)
    padding-left 25vw
    padding-right 25vw

  @media (prefers-color-scheme dark)
    background-color invert(bg-color)
    color invert(text)

  a:hover
    text-decoration none
    background-color link
    color bg-color

    @media (prefers-color-scheme dark)
      background-color invert(link)
      color invert(bg-color)

  h2
    color h2-color
    font-size size-3
    margin-bottom size-1

    @media (prefers-color-scheme dark)
      color invert(h2-color)

    &:not(:first-of-type)
      margin-top size-1

    @media screen and (min-width breakpoint)
      margin-bottom size-2

      &:not(:first-of-type)
        margin-top size-2

  p
    margin-bottom size-1

    @media screen and (min-width breakpoint)
      margin-bottom size-2

  li
    margin-bottom size-1

    @media screen and (min-width breakpoint)
      margin-bottom size-2

    &::before
      content '- '

.icon
  width size-4
  cursor pointer
  position absolute
  top size-4

  path
    transition fill timing-1

    @media (prefers-color-scheme dark)
      fill invert(black)

  &:hover path
    fill translucent

    @media (prefers-color-scheme dark)
      fill invert(translucent)

.language
  right size-4 * 2

  @media screen and (min-width breakpoint)
    right 25vw + size-4 * 2

.close
  right size-3

  @media screen and (min-width breakpoint)
    right 25vw

.profile
  position fixed
  bottom 0
  user-select none
  -moz-user-select none
  margin size-3
  transition opacity timing-2, visibility timing-2

  @media screen and (min-width breakpoint)
    display flex
    margin size-4

.avatar
  width 100px
  transition opacity timing-1
  cursor pointer

  @media screen and (min-width breakpoint)
    margin-right size-4

  &:hover
    opacity transparency

  img
    border-radius 100%

.name
  color name-color
  font-family name-font
  font-size size-4 + size-1

  @media screen and (max-width breakpoint)
    line-height 1

  @media screen and (min-width breakpoint)
    font-size size-4 + size-2

  @media (prefers-color-scheme dark)
    color invert(name-color)

.links a
  text-decoration none
  transition color timing-1

  &:hover
    color translucent

  @media screen and (max-width breakpoint)
    display block
    margin-top size-1

  @media screen and (min-width breakpoint)
    margin-right size-2
